body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemons, .dogs, .books, .persons, .allergies {
    border: 1px solid white;
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
}

.pokemons p, .dogs p, .books p, .persons p, .allergies p {
    margin: 5px;
}